body {
  background-color: gray;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
}

#header {
  /* TODO pin on top */
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 6%;
  position: fixed;
  top: 0;
}

.div_search {
  width: 335px;
}

.div_svg-submit-search {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);

  border: 2px solid black;
  border-right: 0;

  border-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  margin-right: 35px;

  width: 35px;
  height: 35px;
}

.svg_search-submit {
  margin: 13px 0px 0 13px;

  width: 10px;
  height: 10px;
}

.input_search {
  background-color: rgba(0, 0, 0, 0.2);

  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

  border: 2px solid black;
  border-left: 0;

  height: 34px;
  width: 300px;

  position: absolute;
  display: flex;
  align-items: flex-end;
}
.menu {
  align-items: center;
  display: flex;
  height: 100%;
  width: 8%;
}
.svg_search-menu {
  height: 50%;
  width: 20%;
}
.serachmenu {
  background: red;
  height: 100%;
  width: 40%;
}
.main {
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
  height: 94%;
  width: 100%;
}
