*{
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
}
.header{
    height: 10%;
    background: red;
    width: 100%;
}
.body_main{
    height: 90%;
    background: black;
    width: 100%;
}
.menu{
    width: 40%;
    height: 100%;
    background-color: white;
}